

/*#region StyleFonts*/
@font-face { font-family: BebasNeue-Regular; src: url(Fonts/BebasNeue-Regular.ttf); }

/*#endregion*/

h1 {
    font-family: BebasNeue;
    color: #ddcfcc;
    outline-offset: 10px;
    outline: #8a2625;
    outline-width: 100px;
}

h2 {
    color: #ddcfcc;
    outline: #8a2625;
    outline-width: 100px;
}

body {
    background-color: #1d1819;
    margin: 0;
    padding: 0;
}

.LogoHome {
    padding: 10px;
    flex-direction: row;
    flex: 100%;

    text-align: center;
    align-items: center;
    align-content: center;
}

.LogoHome > img
{
    height: 150px;
    width: auto;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #291c17;
}

#menu ImgLogo {       
    width: 100%;
    display: flex;
    color: white;
    text-align: center;
}   

#menu li{
    display: inline-flex;
}

#menu li a {    
    width: 100%;
    display: flex;
    color: #ddcfcc;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;

    /*#region Text*/
    font-family: BebasNeue-Regular;
    font-size: 20px;
    /*#endregion*/
}

#menu li img {    
    height: 1%;
    width: 1%;
    padding: 14px 16px;
    display: flex;
}

#menu li a:hover{
    color: #8a2620;
    background-color: #1d1819;
    border-left: 3px solid #8e2320;
    margin-left: -3px;
}


@media (max-width: 800px) {
    /*.LogoHome {
        display: none;
    }*/

    #menu ImgLogo {
        display: none;
    }    
}

/*#region Classes*/
.HorizontalContent{
    display: flex;
    flex-direction: row;
}

.HorizontalContent .PanelHome {
    flex: 50%;
    margin: 5px;;
    border-radius: 5px;
    background-color: #ddcfcc;
}

@media (max-width: 800px){
    .HorizontalContent
    {
        flex-direction: column;
    }
}

.PanelHome .PanelHomeHeader > div {
    margin: 10px;
    background-color: #8e2320;
}

.HorizontalContent .panel-footer > a {
    text-decoration: none;
    color: #141414;
}

.HorizontalContent .panel-footer > a:hover {
    text-decoration: none;
    color: #8e2320;
}

.HorizontalContent .PanelHomeHeader {
    width: 100%;
    background-color: #8e2320;
}

#lol {
    width: 100%;
}

#logo {
    text-align: center;
}

.ImageContent{
    margin-inline: 0;
    padding-top: 5%;
    padding-bottom: 5%;

    background-image: linear-gradient(#00000000, #1d1819), url("Images/PolloAsado.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    align-items: center;
    align-content: center;
    text-align: center;
}

/*#region Gallery*/
.GridGallery
{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    min-height: 100vh;
}

.GridGallery .Gallery
{   
    width: 750px;
    height: 750px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}

.GridGallery .Gallery .img-a
{
    background-color: #311e13;
    grid-column: 1/3;
    border-radius: 5px;
    margin: 5px;
}

.GridGallery .Gallery .img-b
{
    background-color: #311e13;
    grid-row: 2/4;
    border-radius: 5px;
    margin: 5px;
}

.GridGallery .Gallery .img-c
{
    background-color: #311e13;
    border-radius: 5px;
    margin: 5px;
}

.GridGallery .Gallery .img-d
{
    background-color: #311e13;
    border-radius: 5px;
    margin: 5px;
}

.GridGallery .Gallery .img-e
{
    background-color: #311e13;
    border-radius: 5px;
    margin: 5px;
}

.GridGallery .Gallery .img-f
{
    background-color: #311e13;
    grid-column: 2/4;
    border-radius: 5px;
    margin: 5px;
}
/*#endregion*/

/*#region ResponsiveGallery*/
.ResponsiveGallery {
    display: flex;
    flex-wrap: wrap;
}

.ResponsiveGallery .column{
    margin: 0.25%;
    flex: 24.5%;
    max-width: 24.5%;
}

.ResponsiveGallery .column > img{
    margin: 5px;
    display: flex;
}

@media (max-width: 800px) {
    .ResponsiveGallery .column {
        margin: 0.25%;
        flex: 49%;
      max-width: 50%;
    }
  }

  @media (max-width: 600px) {
    .ResponsiveGallery .column {
      flex: 100%;
      max-width: 100%;
    }
  }
/*#endregion*/

/*#endregion*/