

/*#region StyleFonts*/
@font-face { font-family: BebasNeue-Regular; src: url(Fonts/BebasNeue-Regular.ttf); }

/*#endregion*/
body {
    background-color: #1d1819;
}

h1 {
    font-family: BebasNeue-Regular;
    color: #ddcfcc;
}

h2 {
    font-family: BebasNeue-Regular;
    color: #291c17;
}

h3 {
    font-family: BebasNeue-Regular;
    color: #8e2320;
}

.LogoHome {
    padding: 10px;
    flex-direction: row;
    flex: 100%;

    text-align: center;
    align-items: center;
    align-content: center;
}

.LogoHome > img {
    height: 150px;
    width: auto;
}

#menu{
    background-color: #291c17;
}

#menu ul {
    max-width: 1000px;
    margin: auto;
    padding-left: 3px;
    list-style-type: none;
    overflow: hidden;
}

#menu ImgLogo {       
    width: 100%;
    display: flex;
    color: white;
    text-align: center;
}   

#menu li{
    display: inline-flex;
}

#menu li a {    
    color: #ddcfcc;
    margin: auto;
    padding: 10px;
    text-decoration: none;

    /*#region Text*/
    font-family: BebasNeue-Regular;
    font-size: 20px;
    /*#endregion*/
}

#menu li img {    
    height: 1%;
    width: 1%;
    padding: 14px 16px;
    display: flex;
}

#menu li a:hover{
    color: #8e2320;
    background-color: #1d1819;
    border-left: 3px solid #8e2320;
    margin-left: -3px;
}


@media (max-width: 1000px) {
    /*.LogoHome {
        display: none;
    }*/

    #menu ImgLogo {
        display: none;
    }    
}

/*#region Classes*/
.ImageBanner{
    margin-inline: 0;
    padding-top: 5%;
    padding-bottom: 5%;

    background-image: linear-gradient(#00000000, #1d1819), url("Images/PolloAsado.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    align-items: center;
    align-content: center;
    text-align: center;
}

.PanelDeliveryInfo{
    max-width: 1000px;
    margin: 10px auto;   
    display: flex;

    background-color: #63554d;

    align-items: center;
    align-content: center;
}

.PanelDeliveryInfo > h2{
    margin: 5px 0px;
    padding: 5px 10px;
}

.DeliveyButtom{
    background-color: #8e2320;
    width: auto;
    height: 100%;

    margin: 5px;

    padding: 5px 10px;

    margin-left: auto;

}

.PanelDeliveryInfo .DeliveyButtom> a{
    text-decoration: none;
    font-family: BebasNeue-Regular;
    color: #ddcfcc;
}

.Map{
    max-width: 1000px;
    margin: 10px auto;   
    display: flex;
}

.HorizontalContent{
    max-width: 1000px;
    margin: 10px auto;   
    display: flex;

    flex-direction: row;
}

@media (max-width: 1000px){
    .HorizontalContent
    {
        flex-direction: column;
    }

    .HorizontalContent .PanelHome {
        flex: 50%;
        margin: 5px 0;
        padding: 0;
        background-color: #ddcfcc;
    }
}

.HorizontalContent .PanelHome {
    flex: 50%;
    margin-inline: 5px;
    background-color: #ddcfcc;
}

.PanelHome .PanelHomeHeader {
    background-color: #8e2320;
}

.PanelHome .PanelHomeHeader > h1 {
    padding: 5px;
    margin: 0;
}

.HorizontalContent .panel-footer > a {
    text-decoration: none;
    color: #141414;
}

.HorizontalContent .panel-footer > a:hover {
    text-decoration: none;
    color: #8e2320;
}

#logo {
    text-align: center;
}


/*#region Gallery*/
.GridGallery
{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    min-height: 100vh;
}

.GridGallery .Gallery
{   
    width: 750px;
    height: 750px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}

.GridGallery .Gallery .img-a
{
    background-color: #311e13;
    grid-column: 1/3;
    border-radius: 5px;
    margin: 5px;
}

.GridGallery .Gallery .img-b
{
    background-color: #311e13;
    grid-row: 2/4;
    border-radius: 5px;
    margin: 5px;
}

.GridGallery .Gallery .img-c
{
    background-color: #311e13;
    border-radius: 5px;
    margin: 5px;
}

.GridGallery .Gallery .img-d
{
    background-color: #311e13;
    border-radius: 5px;
    margin: 5px;
}

.GridGallery .Gallery .img-e
{
    background-color: #311e13;
    border-radius: 5px;
    margin: 5px;
}

.GridGallery .Gallery .img-f
{
    background-color: #311e13;
    grid-column: 2/4;
    border-radius: 5px;
    margin: 5px;
}
/*#endregion*/

/*#region ResponsiveGallery*/
.ResponsiveGallery {
    max-width: 1000px;
    margin: auto;

    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.ResponsiveGallery .column{
    text-align: center;
    flex: 24.75%;
    max-width: 24.75%;
}

.ResponsiveGallery .column > img{
    width: 100%;
    height: auto;
    margin: 5px;
}

@media (max-width: 1000px){
    .ResponsiveGallery .column {
        text-align: center;
        flex: 49.25%;
        max-width: 49.25%;
    }
  }

  @media (max-width: 600px){
    .ResponsiveGallery .column {
      flex: 98.25%;
      max-width: 98.25%;
    }
  }
/*#endregion*/

/*#endregion*/